graph {
	fill-color: red;
}

node {
	size: 10px, 15px;
	shape: box;
	fill-color: green;
	stroke-mode: plain;
	stroke-color: yellow;
}

node#s #t {
	fill-color: blue;
}

node:clicked {
	fill-color: red;
}
